<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to "Edit it", edit_article_path %>
<%= link_to "Annihilate it", article_path(@article),
    method: :delete,
    data: {confirm: "Sure you want to destroy #{@article.title}?"} %>
